<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edição de Produtos</title>
</head>
<body>
<h1> Página de Edição</h1>
<form method="post" th:action="@{/doSalvar}" th:object="${produto}">
    <input type="hidden" th:field="*{id}">
    Imagem: <input type="file" th:field="*{imagemURI}"> <br />
    Nome: <input type="text" th:field="*{nome}"> <br />
    Preço: <input type="text" th:field="*{preco}"> <br/>
    Tipo: <input type="text" th:field="*{tipo}"> <br />
    Material: <input type="text" th:field="*{material}"> <br />
    Tamanho: <input type="text" th:field="*{tamanho}"> <br />
    Cor: <input type="text" th:field="*{cor}"> <br />
    <button type="submit">Salvar</button>
</form>

</body>
</html>