<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{'/css/'+${estiloUser}}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>


<h1>Loja de Joias</h1>

<div th:replace="/fragments/commons :: header"></div>
<div th:replace='/fragments/commons :: menu(${estiloUser})'></div>
<div th:replace="/fragments/commons :: statusCadastro('NAO_SEI')"></div>

<!--<button onclick="alerta()">Alerte</button>-->

<h2><a th:href="@{verCarrinho}">Ver carrinho</a> </h2>

<table>
    <tr th:each="produto: ${postagemList}">
        <td th:text="${produto.id}"></td>
        <td th:text="${produto.imageURI}"></td>
        <td th:text="${produto.preco}"></td>
        <td th:text="${produto.tipo}"></td>
        <td th:text="${produto.material}"></td>
        <td th:text="${produto.tamanho}"></td>
        <td th:text="${produto.cor}"></td>
        <td><a th:href="@{'adicionarCarrinho/'+${produto.id}}">Adiconar a carrinho</a></td>
<!--        <td><a th:href="@{'deletar/'+${postagem.id}}">Deletar</a></td>-->


    </tr>
</table>

</body>
</html>